body{
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px;
}
.todo-container{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
input{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: rgb(237, 225, 182);
}
.todo-list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c1bdbd;
}
.todo-list .list{
    width: 45%;
}
.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
}
.todo-item span{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    color: #aaa;
}
.history-container{
    margin-top: 20px;
    text-align: center;
}
.history-item{
    margin-bottom: 8px;
}